<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8">

  <div class="surface-ground p-4 shadow-4 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img src="./assets/hyper.svg" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">{{ actualUser().title }}</div>
      <span class="text-600 font-medium line-height-3">{{ actualUser().subtitle }}</span>
    </div>

    <form [formGroup]="loginForm">

      <div>
        <div class="p-fluid grid mb-2">
          <div class="col-12">
            <app-custom-control label="Email" [control]="loginForm.controls['email']" [labelSize]="70">
              <input type="text" pInputText formControlName="email">
            </app-custom-control>
          </div>
          <div class="col-12">
            <app-custom-control label="Password" [control]="loginForm.controls['password']" [labelSize]="70">
              <input type="password" pInputText formControlName="password">
            </app-custom-control>
          </div>
        </div>

        <div class="flex justify-content-end mb-4">
          <button pButton pRipple label="Sign In" class="w-full lg:w-4"></button>
        </div>

        <div class="text-center">
          <a class="font-medium ml-2 text-blue-500 cursor-pointer" [routerLink]="actualUser().oppositeUrl">Need to Login as {{actualUser().oppositeUser}}?</a>
        </div>
      </div>

    </form>


  </div>

</div>
